.calculator {
  padding: 15px;
  margin: auto;
  border-radius: 5px;
  width: 400px;
  height: 320px;
  background-color: rgba(81, 79, 76, 0.372);
  box-shadow: 10px 4px 20px black;
}
input {
  margin: auto;
  width: 50px;
  height: 30px;
  box-shadow: 1px 1px 1px rgb(114, 139, 154);
  border: 0px;
}
.btn {
  color: red;
}
.clear {
  background-color: orange;
}
.inputbox {
  width: 250px;
}
.equal {
  background-color: orange;
}
